body
{
 
  background-image: url(b5.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid black;
  cursor: pointer;
  width: 100%;

}

/* Add a hover effect for buttons */
.logb:hover{
  opacity: 0.8;
  color: rgb(22, 22, 167);
  background-color: rgb(80, 79, 77);
}





/* Add padding to containers */
.container {
  padding: 16px;
  float: inline-end;
  margin-top:150px;
  background: radial-gradient( rgb(73, 73, 72),rgb(239, 224, 224));
  border-radius: 10px;
  height: 300px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

}
.container1{
  margin-bottom: 200px;
  border: black;
  text-align: center;
}
b{
  color:black;
}
.psw{
  color: white;
  text-align: center;
  margin-right: 700px;
}
.check{
  color: #af4f0e;
  font-size: large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}



